/*CSS reset settings here*/
*{
    margin: 12px;
    padding: 2px;
}
#wrapper{
    width: 800px;
    background-color: silver;
    margin: 0px auto;
}
#header{
    min-height: 150px;
    background-color: green;
}
#navigation{
    min-height: 250px;
    width: 170px;
    background-color: blue;
    display: inline-block;
}
#main_content{
    min-height: 350px;
    width: 570px;
    background-color: red;
    vertical-align: top;
    display: inline-block;
}
.subcontents{
    min-height: 150px;
    width: 150px;
    background-color: yellow;
    display: inline-block;
}
#advertisement{
    min-height: 100px;
    width: 515px;
    background-color: purple;
}   